<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="https://www.springframework.org/schema/beans"
       xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="https://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "address" class = "org.spring.constructorijection.EmployeeAddress">
        <constructor-arg name ="city" value = "noida"></constructor-arg>
    </bean>


    <bean id = "employeedata" class = "org.spring.constructorijection.EmployeeBean">
        <constructor-arg name ="id" value = "101"></constructor-arg>
        <constructor-arg name ="name" value = "John"></constructor-arg>
        <constructor-arg name ="EmployeeAddress" ref = "address"></constructor-arg>
    </bean>

</beans>